body {
      background: #F2F5FE;
   }
      
   h1{
      font-size: 200%;
      font-weight: normal;
      font-family: "georgia", serif;
   }
   
   h4{
      color: #3104B4;
   }
      
   a {
      color: white;
   }
      
   a:hover {
      color: #0BDAED;
   }
      
   a:visited {
      font-family : Arial;
      color: #0BDAED;
   }
      
   #cabecera {
      background: #FFF;
   }
      
   #cabecera #titulogeneral {
      text-align: center;
      color: #3104B4;
   }

   #cuerpo {
      background: #FFF;
   }
    
   #navegador {
      background: #192666;
   }
      
   #navegador ul{
      margin: 0;
      padding: 2em;
      list-style: none;
   }
      
   #navegador li{
      float: left;
      margin: 0 40px 0 0;
         
   }
      
   #navegador li a{
      text-decoration: none;
      padding: .2em 0 .2em .5em;
   }
      
   #izq{
      margin-top: 10px;
      background-color: #FFF;
      height: 380px;
   }
      
   #izq1{
      background-color: #ccccff;
      height: 180px;
      line-height: 30px;
   }
      
   #izq2{
      margin-top: 10px;
      background-color: #9999ff;
      height: 190px;
      line-height: 30px;
   }
      
   #izq3{
      margin-top: 10px;
      background-color: #6666ff;
      height: 190px;
      line-height: 30px;
   }
      
   #der{
      margin-top: 10px;
      background-color: #dedede;
      height: 380px;
      line-height: 30px;
   }
      
   #pie{
      margin-top: 10px;
      background-color: #192666;
      height: 30px;
      line-height: 5px;
      color: white;
      text-align: center;
   }